@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}